@import "~bootstrap/scss/bootstrap";

// Starter

:root {
	--mainColor: #131a21; 
	--alert-color: #2b2e31;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-thumb{
	background-color: gray;
	border-radius: 10px;
}

body{
	min-height: 100vh;
	background-color: var(--mainColor);
	overflow-x: hidden;
}

.row{
	width: 100%;
}

// Register & Login Page

.authContainer{
	display: flex;
	min-height: 35rem;
	justify-content: center;
	align-items: center;
}

.authCard{
	width: 60vh;
	margin: auto;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
	animation: slideForm 1s ease-in-out;
}

.imgContainer{
	width: 100%;
	height: 100%;
	animation: slideImage 1s ease-in-out;
}

.image{
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.logoImage{
	width: 2.5rem;
}

.heading{
	animation: dropHeading 1s ease-in-out;
}

@keyframes dropHeading{
	0% {
		top: -15vh;
		opacity: 0;
	}
	100%{
		top: 0;
		opacity: 1;
	}
}

@keyframes slideImage{
	0% {
		left: -20vh;
		opacity: 0;
	}
	100%{
		left: 0;
		opacity: 1;
	}
}


@keyframes slideForm{
	0% {
		right: -30vh;
		opacity: 0;
	}
	100%{
		right: 0;
		opacity: 1;
	}
}

// Alerts

#alertMsg{
	background-color: var(--alert-color);
	height: 3rem;
	top: 3rem;
	right: -4rem;
	filter: drop-shadow(2px 4px 6px black);
	z-index: 999;
}

#alertMsg:nth-child(1){
	padding: 10px;
}

#closeBtn{
	width: 1.5rem;
	cursor: pointer;
	filter: invert(1);
}

.showAlert{
	animation: showAlert 1s ease-in-out;
}

.removeAlert{
	animation: closeAlert 1s ease-in-out;
}

@keyframes showAlert{
	0%{
		right: -10rem;
		opacity: 0;
	}
	100%{
		right: -4rem;
		opacity: 1;	
	}
}

@keyframes closeAlert{
	0%{
		right: -4rem;
		opacity: 1;
	}
	100%{
		right: -10rem;
		opacity: 0;
	}
}

// Media Queries

@media(min-width: 320px) and (max-width: 575px){
	.heading{
		font-size: 2rem;
	}

	.imageCol{
		display: none;
	}
}