@import "~bootstrap/scss/bootstrap";

// Starter

:root {
	--mainColor: #131a21; 
	--alert-color: #2b2e31;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-thumb{
	background-color: gray;
	border-radius: 10px;
}

body{
	min-height: 100vh;
	background-color: var(--mainColor);
	overflow-x: hidden;
}

.row{
	width: 100%;
}

p{
	margin: 0;
}

.fw-500{
	font-weight: 500;
}

.pointer{
	cursor: pointer;
}

.closeIcon:hover{
	color: #cecece !important;
}

// Register & Login Page

.authContainer{
	display: flex;
	min-height: 35rem;
	justify-content: center;
	align-items: center;
}

.authCard{
	width: 60vh;
	margin: auto;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
	animation: slideForm 1s ease-in-out;
	-moz-animation: slideForm 1s ease-in-out;
	-webkit-animation: slideForm 1s ease-in-out;
}

.imgContainer{
	width: 100%;
	height: 100%;
	animation: slideImage 1s ease-in-out;
	-moz-animation: slideImage 1s ease-in-out;
	-webkit-animation: slideImage 1s ease-in-out;
}

.image{
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.logoImage{
	width: 2.5rem;
}

.heading{
	animation: dropHeading 1s ease-in-out;
	-moz-animation: dropHeading 1s ease-in-out;
	-webkit-animation: dropHeading 1s ease-in-out;
}

@keyframes dropHeading{
	0% {
		top: -15vh;
		opacity: 0;
	}
	100%{
		top: 0;
		opacity: 1;
	}
}

@keyframes slideImage{
	0% {
		left: -20vh;
		opacity: 0;
	}
	100%{
		left: 0;
		opacity: 1;
	}
}


@keyframes slideForm{
	0% {
		right: -30vh;
		opacity: 0;
	}
	100%{
		right: 0;
		opacity: 1;
	}
}

// Alerts

#alertMsg{
	background-color: var(--alert-color);
	height: 3rem;
	top: 3rem;
	right: 2rem;
	filter: drop-shadow(2px 4px 6px black);
	z-index: 999;
}

#alertMsg:nth-child(1){
	padding: 10px;
}

#closeBtn{
	width: 1.5rem;
	cursor: pointer;
	filter: invert(1);
}

.showAlert{
	animation: showAlert 1s ease-in-out;
	-moz-animation: showAlert 1s ease-in-out;
	-webkit-animation: showAlert 1s ease-in-out;
}

.removeAlert{
	animation: closeAlert 1s ease-in-out;
	-moz-animation: closeAlert 1s ease-in-out;
	-webkit-animation: closeAlert 1s ease-in-out;
}

@keyframes showAlert{
	0%{
		right: -10rem;
		opacity: 0;
	}
	100%{
		right: 2rem;
		opacity: 1;	
	}
}

@keyframes closeAlert{
	0%{
		right: 2rem;
		opacity: 1;
	}
	100%{
		right: -10rem;
		opacity: 0;
	}
}

// Contact Section

.contactSection {
	display: flex;
}

.homeRow { 
	margin: 0;
	min-height: 100vh;
}

.infoCol{
	border-right: solid 2px;
	width: 25rem;
}

.logoutBtn{
	font-size: 13px;
	font-weight: 500;
	padding: 0.3rem 1.2rem;
	border-radius: 1rem;
	background-color: #1f1f31;
	border-color: #7878ce;
	transition: all 0.5s;
	-moz-transition: all;
	-webkit-transition: all;
}

.logoutBtn:hover{
	background-color: #2a2a48;
	border-color: #7878ce;
}

.displayInfo, .contact:hover, .userBg{
	background-color: #1e262df5;
}

.contact{
	cursor: pointer;
}

.searchInput{
	width: 100%;
	border: none;
	border-radius: 1rem;
	padding: 5px 1rem 5px 4rem;
	outline: none;
	background: #1f2327;
	color: #ffffffad;
	font-weight: 500;
}

.searchBar, .contentBorder{
	border-bottom: 1px solid #313131;
}

#searchIcon{
	cursor: pointer;
	left: 2rem;
	top: 1.6rem;
	color: #737373;
}

.userImage{
	height: 3rem;
	width: 3rem;
	object-fit: cover;
	border-radius: 50%;
}

.spinner-grow{
	background-color: var(--gray);
	position: relative;
	top: 15rem;
	left: 12rem;
}

.messageCol{
	flex-grow: 2;
}

.messageBox{
	height: 100%;
}

.contact-box{
	height: 100vh;
}

.messagesSection {
	height: 77vh;
	overflow-y: scroll;
	scrollbar-width: none;
	&::-webkit-scrollbar{
		display: none;
	}
	& div:last-child{
		padding-top: 1rem;
	}
}

.reactions{
	max-width: none;
}

.connected{
	background: #D4AC0D;
	width: fit-content;
	padding: 0.2rem 1rem;
	border-radius: 5px;
	margin: 0 auto;
}

.messageIcon{
	cursor: pointer;
	right: 2rem;
	margin: 0.2rem;
}

.reactBtn:focus, .reactionBtn:focus {
	box-shadow: none;
	outline: none;
}

.reactPopover{
	height: 30px;
}

.messageReaction {
	position: absolute;
	right: 5px;
	bottom: -1.5rem;
	font-size: 1rem;
}

.reactionBtn{
	padding: 0 0.25rem;
	font-size: 1rem;
	transition: 0.25s;
	&:hover{
		text-decoration: none;
		font-size: 1.5rem;
	}
}

.navbar{
	background-color: #38646bfa;
	filter: drop-shadow(2px 20px 6px rgba(0 ,0 ,0 ,0.3));
}

// Media Queries

@media(min-width: 1024px) and (max-width: 1440px){
	.chatImg{
		height: 25rem;
	}
}

@media(min-width: 768px) and (max-width: 1023px){
	.chatImg{
		height: 16rem;
	}

	.infoCol{
		width: 18rem;
	}

}


@media(min-width: 320px) and (max-width: 767px){
	.heading{
		font-size: 2rem;
	}

	.chatImg{
		width: 15rem;
	}

	.infoCol{
		width: 12rem;
	}

	.displayInfo{
		flex-direction: column;
		justify-content: flex-start !important;
		align-items: flex-start !important;
	}

	.logoutBtn{
		margin-top: 1rem;
		width: 10rem;
	}

	.latestMessage, .searchBar{
		display: none !important;
	}

	.messageCol{
		width: min-content;
	}
}